body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

main {
    border: 5px solid black;
}

nav {
    background-color: red;
    padding: 10px;
    display: flex;
}

nav img {
    width: 10%;
}

nav a {
    color: white;
    padding: 20px;
}

.main-game {
    margin-top: 50px;
    padding: 10px 100px;
    border-bottom: 5px solid black;
}

.main-article {
    display: flex;
}

.main-article img {
    width: 100%;
    border: 5px solid black;
}

.main-article div {
    flex: 1;
}

.main-article a {
    background-color: red;
    color: white;
    padding: 20px 50px;
    border: 5px solid red;
    border-radius: 5px;
    text-align: center;
}

.main-article a:hover {
    background-color: white;
    color: red;
}

.main-article .left-column {
    margin: 20px 20px;
}

.main-article .right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.game-description{
    padding: 50px 100px;
}

.game-description article{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.game-description div{
    flex: 1;
    
}

.game-description .left-column{
    background-color: lightgray;
    padding: 50px;
    margin: 75px;
}

.game-description .right-column{
    flex: 2;
}

.other-games{
    padding-top: 50px;
    background-color: red;
    color: white;
}

.other-games h2{
    text-align: center;
}

.container-games{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 1;
    padding: 50px 300px;
}

.container-games article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: black;
    text-align: center;
    padding: 50px;
}

footer a{
    color: white;
    padding: 0px 50px;
}
